<!DOCTYPE html>
<html>
  <head>
    <title>Flask and SQLite</title>
  </head>
  <body>
    <form method="POST">
      <label>Enter song_name:</label>
      <input
        type="name"
        name="song_name"
        placeholder="Enter song_name"
        required
      /><br />

      <label>Enter artist_name:</label>
      <input
        type="name"
        name="artist_name"
        placeholder="Enter artist_name"
        required
      /><br />

      <label>Enter genre:</label>
      <input
        type="name"
        name="genre"
        placeholder="Enter genre"
        required
      /><br />

      <label>Enter year_released:</label>
      <input
        type="name"
        name="year_released"
        placeholder="Enter year_released"
        required
      /><br />

      <label>Enter country_released:</label>
      <input
        type="name"
        name="country_released"
        placeholder="Your country_released"
        required
      /><br />

      <label>Enter image_cover_link:</label>
      <input
        type="name"
        name="image_cover_link"
        placeholder="Your image_cover_link"
        required
      /><br />

      <label>Enter youtube_link:</label>
      <input
        type="name"
        name="youtube_link"
        placeholder="Your youtube_link"
        required
      /><br />

      <label>Enter styles:</label>
      <input
        type="name"
        name="styles"
        placeholder="Your styles"
        required
      /><br />

      <input type="submit" value="submit" /><br />
    </form>
  </body>
</html>
