<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Look For Samples</title>
    <!-- <script src="{{ url_for('static', filename='js/music.js') }}"></script> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>
    <h1>Add a New Track</h1>

    <form id="add-track-form" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Song title</span>
            <input type="text" class="form-control" placeholder="Song title" aria-label="songName">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Artist</span>
            <input type="text" class="form-control" placeholder="Artist" aria-label="artistName">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Year released</span>
            <input type="text" class="form-control" placeholder="Year released" aria-label="yearReleased">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Country released</span>
            <input type="text" class="form-control" placeholder="Country released" aria-label="countryReleased">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Link to album cover image</span>
            <input type="text" class="form-control" placeholder="Album cover" aria-label="imageCoverLink">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">YouTube link</span>
            <input type="text" class="form-control" placeholder="YouTube link" aria-label="youtubeLink">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Style</span>
            <div id="styles-container">
                <input type="text" class="form-control" placeholder="Style" aria-label="styles">
            </div>
            <button class="btn btn-outline-secondary" type="button" onclick="addInput('styles')">Add style</button>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Genre</span>
            <div id="genres-container">
                <input type="text" class="form-control" placeholder="Genre" aria-label="genre">
            </div>
            <button class="btn btn-outline-secondary" type="button" onclick="addInput('genres')">Add genre</button>
        </div>
    </form>

    <script>
        function addInput(inputType) {
            var container;
            var inputContainerId;

            if (inputType === 'styles') {
                container = document.getElementById('styles-container');
                inputContainerId = 'styles-container';
            } else if (inputType === 'genres') {
                container = document.getElementById('genres-container');
                inputContainerId = 'genres-container';
            }

            if (container) {
                var newInput = document.createElement('div');
                newInput.className = 'input-group';
                newInput.innerHTML = `
                <input type="text" class="form-control" placeholder="${inputType.charAt(0).toUpperCase() + inputType.slice(1)}" aria-label="${inputType}">
            `;
                container.appendChild(newInput);
            } else {
                console.error(`Container (${inputContainerId}) not found.`);
            }
        }
    </script>

</body>

</html>