<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Look For Samples</title>
    <script src="{{ url_for('static', filename='js/addTrack.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        h1 {
            padding: 30px;
        }

        h4 {
            padding: 3%;
        }

        .card {
            max-width: 600px;
            margin: 0 auto;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
            border-radius: 10px;
            padding: 20px;
        }

        .submit {
            margin-bottom: 5%;
        }
    </style>
</head>

<body>
    <div class="container text-center">

        <h1>Add a New Track</h1>

        <div class="card py-3">
            <h4>Please fill in all of the following fields</h4>
            <form id="add-track-form" method="POST">
                <div class="input-group my-3">
                    <input type="text" class="form-control" placeholder="Song title" aria-label="songName"
                        name="songName" required>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Artist" aria-label="artistName"
                        name="artistName" required>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Year released" aria-label="yearReleased"
                        name="yearReleased" required>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Country released" aria-label="countryReleased"
                        name="countryReleased" required>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Link to album cover image"
                        aria-label="imageCoverLink" name="imageCoverLink" required>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="YouTube link" aria-label="youtubeLink"
                        name="youtubeLink" required>
                </div>

                <div class="input-group mb-3">
                    <div>
                        <input type="text" class="form-control mb-1" placeholder="Style" aria-label="styles"
                            name="styles" required>
                        <div id="styles-container"></div>
                    </div>
                    <div class="px-1">
                        <button class="btn btn-outline-secondary" type="button"
                            onclick="addInput('styles')">Add</button>
                        <button class="btn btn-outline-secondary" type="button"
                            onclick="removeInput('styles')">Remove</button>
                    </div>
                </div>

                <div class="input-group mb-3 pb-4">
                    <div>
                        <input type="text" class="form-control mb-1" placeholder="Genre" aria-label="genres"
                            name="genres" required>
                        <div id="genres-container"></div>
                    </div>
                    <div class="px-1">
                        <button class="btn btn-outline-secondary" type="button"
                            onclick="addInput('genres')">Add</button>
                        <button class="btn btn-outline-secondary" type="button"
                            onclick="removeInput('genres')">Remove</button>
                    </div>

                </div>

                <button type="submit" class="submit btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</body>

</html>