<!DOCTYPE html>
<html>
  <head>
    <title>Flask and SQLite</title>
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <table style="width: 100%">
      <tr>
        <th>id</th>
        <th>song_name</th>
        <th>artist_name</th>
        <th>genre</th>
        <th>year_released</th>
        <th>country_released Number</th>
        <th>image_cover_link</th>
        <th>youtube_link</th>
        <th>styles</th>
      </tr>

      {%for music in data%}
      <tr>
        <td>{{music[0]}}</td>
        <td>{{music[1]}}</td>
        <td>{{music[2]}}</td>
        <td>{{music[3]}}</td>
        <td>{{music[4]}}</td>
        <td>{{music[5]}}</td>
        <td>{{music[6]}}</td>
        <td>{{music[7]}}</td>
        <td>{{music[8]}}</td>
      </tr>
      {%endfor%}
    </table>
    {% comment %} <form action="/empty_database" method="post">
      <button type="submit">Empty Database</button>
    </form> {% endcomment %}
  </body>
</html>
