<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Look For Samples</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1981017738423084"
        crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FEFDE9;
            background-color: #343a41;
            user-select: none;
            font-family: 'Roboto';
        }
    </style>
</head>

<body>
    <div class="modal" id="feedback-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">How do you feel?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="d-flex justify-content-center flex-wrap" required>
                        <label class="m-3">
                            <input type="radio" name="feedback-faces" value="face-1">
                            <img src="/static/img/feedback_faces_1.png" width="75px" alt="Option 1">
                        </label>
                        <label class="m-3">
                            <input type="radio" name="feedback-faces" value="face-2">
                            <img src="/static/img/feedback_faces_2.png" width="75px" alt="Option 2">
                        </label>
                        <label class="m-3">
                            <input type="radio" name="feedback-faces" value="face-3">
                            <img src="/static/img/feedback_faces_3.png" width="75px" alt="Option 3">
                        </label>
                        <label class="m-3">
                            <input type="radio" name="feedback-faces" value="face-4">
                            <img src="/static/img/feedback_faces_4.png" width="75px" alt="Option 4">
                        </label>
                    </div>
                    <hr class="hr hr-blurry" />
                    <textarea class="form-control" placeholder="Leave a comment here" id="feedback-comment"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="submitFeedbackForm()"
                        data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body" id="toast-body-text">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="pb-2">
            <h1 class="text">Look For Samples</h1>
        </div>

        <div class="turntable-container">
            <div class="turntable">
                <div class="record" id="rotate-btn"></div>
            </div>
        </div>


        <div class="button-wrapper d-flex justify-content-center flex-wrap pt-3">
            <div class="option-button mx-5 m-3" type="button"
                onclick="window.location.href='{{ url_for('views.add_track') }}';">
                Add track
            </div>
            <div class="option-button button-big mx-5 m-3" type="button"
                onclick="window.location.href='{{ url_for('views.music') }}';">
                Find samples
            </div>
            <div class="option-button mx-5 m-3" type="button" id="open-feedback-btn" data-bs-toggle="modal"
                data-bs-target="#feedback-modal">
                Feedback
            </div>
        </div>
    </div>

    <script>
        const turntable = document.querySelector('.turntable');
        const rotateButton = document.getElementById('rotate-btn');

        let isRotating = false;

        rotateButton.addEventListener('click', () => {
            if (!isRotating) {
                turntable.style.transform = 'rotate(720deg)';
                isRotating = true;
            } else {
                turntable.style.transform = 'rotate(0deg)';
                isRotating = false;
            }
        });


        function submitFeedbackForm() {
            const toastLiveExample = document.getElementById('liveToast');
            const selectedOption = document.querySelector('input[name="feedback-faces"]:checked');
            const optionValue = selectedOption ? selectedOption.value : null;
            const comment = document.getElementById('feedback-comment').value;
            var jsonString = JSON.stringify({ 'face': optionValue, 'feedback': comment });

            fetch('/add-feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: jsonString,
            })
                .then(response => response.json())
                .then(data => {
                    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                    document.getElementById("toast-body-text").innerHTML = data.message;
                    toastBootstrap.show()
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>