<!DOCTYPE html>
<html>
  <head>
    <title>Look For Samples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <h1>Look For Samples</h1>

    <div
      class="btn center"
      type="button"
      onclick="window.location.href='{{ url_for('views.view_all_tracks') }}';"
    >
      Check participant list
  </div>

    <div
      class="btn center"
      type="button"
      onclick="window.location.href='{{ url_for('views.music') }}';"
    >
      Find samples
  </div>

  </body>
</html>
