<!DOCTYPE html>
<html>
  <head>
    <title>Flask and SQLite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <h1>Sample Tinder</h1>

    <button
      class="test"
      type="button"
      onclick="window.location.href='{{ url_for('view_all_tracks') }}';"
    >
      Check participant list
    </button>

    <div
      class="btn center"
      type="button"
      onclick="window.location.href='{{ url_for('music') }}';"
    >
      Get music
  </div>

  </body>
</html>
