<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Look For Samples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>
</head>
<body>
    <div class="background-image" style="background-image: url('{{ data[7] }}');"></div>

    <div class="music-box">
        <h2>{{ data[2] }} - {{ data[1] }}</h2>

        <iframe
            src="https://www.youtube.com/embed/{{ data[8][-11:] }}?autoplay=1&loop=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

        <form method="POST">
            <div class="btn-group">
                <input type="submit" name="decide_song_button" value="DISLIKE">
                <input type="submit" name="decide_song_button" value="SKIP">
                <input type="submit" name="decide_song_button" value="LIKE">
            </div>
        </form>
    </div>
</body>
</html>
